openapi: 3.0.0
info:
  title: User management API
  description: User management API used for editing and managing user. This API supposed
    to be used privately and consumed by BSS and CMS. Only authorization with api
    key supported
  version: 4.0.0
servers:
- url: https://testing.booxmedia.xyz/api/user/management/v4
  description: Testing server
- url: https://virtserver.swaggerhub.com/24i-API/UserManagement/4.0.0
  description: SwaggerHub API Auto Mocking
security:
- apiKeyAuth: []
tags:
- name: User
  description: User related operations
paths:
  /users:
    get:
      tags:
      - User
      summary: Get all users
      description: |
        Returns a list of users. Default page size is 100 items.
        * **Available since:** 2021-05 (BPLAT-14346)
      operationId: GetAllUsers
      parameters:
      - name: "filter[user.registration_state]"
        in: query
        description: Return only users which have specified registration state.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/RegisterationState'
        example: REGISTERED
      - name: "filter[user.email]"
        in: query
        description: Return only users which have specified email.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: john.doe@24i.com
      - name: "page[number]"
        in: query
        description: Page number if the results have more items than items per page.
          Default = 1.
        required: false
        schema:
          minimum: 1
          type: number
        example: 1
      responses:
        "200":
          description: Successful response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
    post:
      tags:
      - User
      summary: Create new user
      description: |
        Create new user
        * **Available since:** NOT YET AVAILABLE (BPLAT-14347)
      operationId: CreateUser
      requestBody:
        $ref: '#/components/requestBodies/CreateUserRequestBody'
      responses:
        "201":
          description: Successful response on created resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
        "400":
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "409":
          description: Conflict
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_409'
  /users/{user_id}:
    get:
      tags:
      - User
      summary: Get user
      description: |
        Returns user by id
        * **Available since:** 2021-05 (BPLAT-14345)
      operationId: GetUserById
      parameters:
      - name: user_id
        in: path
        description: The ID of the user to fetch.
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: Successful response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
        "401":
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "404":
          description: User does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
    delete:
      tags:
      - User
      summary: Delete user
      description: |
        Deletes user by id
        * **Available since:** NOT YET AVAILABLE (BPLAT-14349)
      operationId: DeleteUserById
      parameters:
      - name: user_id
        in: path
        description: The ID of the user to delete.
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "204":
          description: |
            The user was deleted successfully
        "401":
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "404":
          description: User does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
    patch:
      tags:
      - User
      summary: Update user
      description: |
        Updates user specified by user id
        * **Available since:** NOT YET AVAILABLE (BPLAT-14348)
      operationId: UpdateUser
      parameters:
      - name: user_id
        in: path
        description: The ID of the user to update.
        required: true
        style: simple
        explode: false
        schema:
          type: number
      requestBody:
        $ref: '#/components/requestBodies/UpdateUserRequestBody'
      responses:
        "200":
          description: Successful response on updated resource
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
        "400":
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: Forbidden
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "409":
          description: Conflict
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_409_1'
components:
  schemas:
    UserResourceProperties:
      required:
      - attributes
      - relationships
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserResourceProperties_attributes'
    UserResourceReadOnlyProperties:
      required:
      - attributes
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserResourceReadOnlyProperties_attributes'
    UserResourceMetaProperties:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/UserResourceMetaProperties_meta'
    UserResourceOptionalProperties:
      required:
      - attributes
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserResourceOptionalProperties_attributes'
    UserResource:
      allOf:
      - $ref: '#/components/schemas/UserResourceIdentifier_2'
      - $ref: '#/components/schemas/UserResourceProperties'
      - $ref: '#/components/schemas/UserResourceOptionalProperties'
      - $ref: '#/components/schemas/UserResourceReadOnlyProperties'
      - required:
        - attributes
        - relationships
        type: object
        properties:
          attributes:
            $ref: '#/components/schemas/UserResource_attributes'
          relationships:
            allOf:
            - required:
              - default_user_profile
              type: object
              properties:
                default_user_profile:
                  required:
                  - data
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/UserProfileResourceIdentifier'
    UserResourceIdentifier:
      allOf:
      - $ref: '#/components/schemas/CreateResourceIdentifier'
      - type: object
        properties:
          type:
            $ref: '#/components/schemas/UserResourceType'
    CreateUserResourceIdentifier:
      allOf:
      - required:
        - type
        type: object
        properties:
          type:
            $ref: '#/components/schemas/UserResourceType'
    RegisterationState:
      type: string
      description: User registration state
      enum:
      - UNREGISTERED
      - REGISTERED
      - DISABLED
      - DELETED
    Error:
      required:
      - code
      - details
      - id
      - status
      - title
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for this particular occurrence of the problem.
        status:
          type: string
          description: "The HTTP status code applicable to this problem, expressed\
            \ as a string value."
        code:
          type: string
          description: "An application-specific error code, expressed as a string\
            \ value."
        title:
          type: string
          description: "A short, human-readable summary of the problem that SHOULD\
            \ NOT change from occurrence to occurrence of the problem."
        details:
          type: string
          description: A human-readable explanation specific to this occurrence of
            the problem.
      example:
        id: 6de7da3e-8877-4f2b-a670-16e18e5d79a0
        status: "400"
        code: "31201"
        title: Bad Request
        detail: Parameter 'Foo' is invalid
    UserResourceIdentifier_2:
      allOf:
      - $ref: '#/components/schemas/ResourceIdentifier'
      - type: object
        properties:
          id:
            type: string
            example: "41"
          type:
            pattern: ^User$
            type: string
            example: User
    ResourceIdentifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        type:
          $ref: '#/components/schemas/Type'
      discriminator:
        propertyName: type
    Id:
      type: string
      description: The id of the resource being referenced
      example: e022f021-11f5-4cd6-89f2-02535d89eed6
    Type:
      type: string
      description: Used to describe resource objects that share common attributes
        and relationships.
      example: ResourceOject
    UserProfileResourceIdentifier:
      allOf:
      - $ref: '#/components/schemas/ResourceIdentifier'
      - type: object
        properties:
          id:
            type: string
            example: dc11a654-882d-47cb-a971-bb1fc6f0ffd8
          type:
            pattern: ^UserProfile$
            type: string
            example: UserProfile
    CreateResourceIdentifier:
      required:
      - type
      type: object
      properties:
        type:
          $ref: '#/components/schemas/Type'
      discriminator:
        propertyName: type
    UserResourceType:
      pattern: ^User$
      type: string
      example: User
    inline_response_200:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserResource'
    inline_response_400:
      required:
      - errors
      type: object
      properties:
        errors:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Error'
            - example:
                status: "400"
                code: "10201"
                title: Bad Request
                detail: Standard error response
    inline_response_401:
      required:
      - errors
      type: object
      properties:
        errors:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Error'
            - example:
                status: "401"
                code: "10201"
                title: Invalid api key
                detail: "Invalid authorization api key: Unauthorised Api key provided\
                  \ in the header"
    inline_response_403:
      required:
      - errors
      type: object
      properties:
        errors:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Error'
            - example:
                status: "403"
                code: "9"
                title: Action not permitted
                detail: Your IP "10.20.30.40" is not allowed.
    inline_response_201:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UserResource'
    inline_response_409:
      required:
      - errors
      type: object
      properties:
        errors:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Error'
            - example:
                status: "409"
                code: "32101"
                title: Conflicting data
                detail: Could not create user due to attributes conflicting with existing
                  data
    inline_response_404:
      required:
      - errors
      type: object
      properties:
        errors:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Error'
            - example:
                status: "404"
                code: "10101"
                title: Not Found
                detail: The requested user does not exist
    inline_response_409_1:
      required:
      - errors
      type: object
      properties:
        errors:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Error'
            - example:
                status: "409"
                code: "32101"
                title: Conflicting data
                detail: Could not update user due to attributes conflicting with existing
                  data
    UserResourceProperties_attributes_contact_details:
      type: object
      properties:
        email:
          type: string
          description: Email address
          example: john@doe.com
        telephone_number_E123:
          type: string
          description: Telephone in E.123 notation
          example: +226071234567
    UserResourceProperties_attributes:
      type: object
      properties:
        name:
          type: string
          description: User name
          example: John Doe
        user_flags:
          type: array
          items:
            type: string
            description: User flags for features
            example: flag_a
        contact_details:
          $ref: '#/components/schemas/UserResourceProperties_attributes_contact_details'
        external_id:
          type: string
          description: Customer external id
          nullable: true
          example: C-000001
    UserResourceReadOnlyProperties_attributes_registration_information:
      type: object
      properties:
        registration_time:
          type: integer
          description: User registration time in unix epoch timestamp
          example: 1577840400
    UserResourceReadOnlyProperties_attributes:
      type: object
      properties:
        registration_information:
          $ref: '#/components/schemas/UserResourceReadOnlyProperties_attributes_registration_information'
    UserResourceMetaProperties_meta_security:
      type: object
      properties:
        user_password:
          type: string
          description: "User password. \n_Note: For security reasons, it is discouraged\
            \ to set user password with management API. See client guideline alternative\
            \ to set user password._\n"
          example: password
    UserResourceMetaProperties_meta:
      type: object
      properties:
        security:
          $ref: '#/components/schemas/UserResourceMetaProperties_meta_security'
    UserResourceOptionalProperties_attributes_registration_information:
      type: object
      properties:
        registration_state:
          $ref: '#/components/schemas/RegisterationState'
    UserResourceOptionalProperties_attributes:
      type: object
      properties:
        registration_information:
          $ref: '#/components/schemas/UserResourceOptionalProperties_attributes_registration_information'
    UserResource_attributes:
      required:
      - contact_details
      - external_id
      - name
      - registration_information
      - user_flags
      type: object
      properties:
        contact_details:
          required:
          - email
          - telephone_number_E123
          type: object
        registration_information:
          required:
          - registration_state
          - registration_time
          type: object
  requestBodies:
    CreateUserRequestBody:
      content:
        application/json:
          schema:
            required:
            - data
            type: object
            properties:
              data:
                allOf:
                - $ref: '#/components/schemas/CreateUserResourceIdentifier'
                - $ref: '#/components/schemas/UserResourceProperties'
                - $ref: '#/components/schemas/UserResourceOptionalProperties'
                - $ref: '#/components/schemas/UserResourceMetaProperties'
                - required:
                  - attributes
                  type: object
                  properties:
                    attributes:
                      required:
                      - contact_details
                      - external_id
                      - name
                      - user_flags
                      type: object
                      properties:
                        contact_details:
                          required:
                          - email
                          - telephone_number_E123
                          type: object
      required: true
    UpdateUserRequestBody:
      content:
        application/json:
          schema:
            required:
            - data
            type: object
            properties:
              data:
                allOf:
                - $ref: '#/components/schemas/UserResourceIdentifier'
                - $ref: '#/components/schemas/UserResourceProperties'
                - $ref: '#/components/schemas/UserResourceOptionalProperties'
                - $ref: '#/components/schemas/UserResourceMetaProperties'
      required: true
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      description: "Internal API key, format \"Apikey 1a2b3c4d\"."
      name: Authorization
      in: header
