openapi: 3.0.0
info:
  title: Catchup API
  description: Catchup are broadcast slots that have aired but can still be viewed
    on-demand.
  version: v4.0.0
servers:
- url: https://testing.booxmedia.xyz/api/catchup/v4
  description: Testing server
- url: https://virtserver.swaggerhub.com/24i-API/Catchup/v4.0.0
  description: SwaggerHub API Auto Mocking
paths:
  /broadcast_slots/{channel_id}:
    get:
      tags:
      - Catchup
      summary: Get an index of Catchup
      description: Returns all catchup items for a given channel. All related series
        are included in the response, which can be used for grouping.
      operationId: GetCatchupIndex
      parameters:
      - name: channel_id
        in: path
        description: The ID of the channel to fetch Catchup for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: language
        in: query
        description: 'The PK of the language to use, which will be a 3 character ISO
          639-2 string (e.g.: fin). If this is omitted the system defined default
          will be used. If the requested language is not available then the system
          will return translations in order of the system defined preferences'
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: Invalid request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "403":
          description: Catchup not available for channel
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "404":
          description: Channel does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
  /broadcast_slots/most_popular:
    get:
      tags:
      - Catchup
      summary: Get an list of the most watched Catchup
      description: This endpoint returns the most viewed catchup items across all
        channels ordered by view count in descending order. All related series are
        included in the response, which can be used for grouping
      operationId: GetPopularCatchupIndex
      parameters:
      - name: language
        in: query
        description: 'The PK of the language to use, which will be a 3 character ISO
          639-2 string (e.g.: fin). If this is omitted the system defined default
          will be used. If the requested language is not available then the system
          will return translations in order of the system defined preferences'
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: Invalid request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
components:
  schemas:
    BroadcastSlotResource:
      allOf:
      - $ref: '#/components/schemas/BroadcastSlotResourceIdentifier'
      - required:
        - attributes
        - relationships
        type: object
        properties:
          attributes:
            allOf:
            - $ref: '#/components/schemas/Attributes'
            - required:
              - end_time_unix
              - program
              - program_duration_seconds
              - start_time_unix
              type: object
              properties:
                start_time_unix:
                  type: integer
                  description: The Unix epoch timestamp denoting the start of the
                    timeslot
                  example: 1523268666
                end_time_unix:
                  type: integer
                  description: 'The Unix epoch timestamp denoting the end of the timeslot.
                    Note: end_time_unix - start_time_unix = program_duration_seconds
                    + commercial_break_duration_seconds'
                  example: 1523270886
                advertising_enabled:
                  type: boolean
                  description: This will be true if ad insertion is enabled for this
                    slot (the program duration will be shorter than the slot duration)
                  example: true
                program_duration_seconds:
                  type: integer
                  description: The duration (in seconds) of the program sans adverts
                  example: 2100
                commercial_break_duration_seconds:
                  type: integer
                  description: How much time is devoted to adverts.  The length of
                    the program plus the commercial breaks should total the seconds
                    betwen start_time and end_time
                  example: 120
                metadata_provider_information:
                  type: array
                  items:
                    required:
                    - external_id
                    - provider
                    type: object
                    properties:
                      provider:
                        type: string
                        example: ERICSSON
                      external_id:
                        type: string
                        description: This is used by recommendation engines (like
                          xroadmedia)
                        example: "724693092"
                broadcast_languages:
                  type: array
                  items:
                    type: object
                    properties:
                      audio_language_iso639_2:
                        type: integer
                        description: The ISO 639-2 three letter code for the language
                          that the audio is in
                subtitle_languages:
                  type: array
                  items:
                    type: object
                    properties:
                      language_iso639_2:
                        type: string
                        description: The ISO 639-2 three letter code for a subitle
                          language that is available
                        example: fin
                services_blacklisted:
                  type: array
                  description: An array of the service types that are blacklisted
                    for this broadcast slot.
                  example:
                  - npvr
                  - catchup
                  items:
                    type: string
                    enum:
                    - live
                    - npvr
                    - catchup
                    - startover
                    - pause
                program:
                  required:
                  - title
                  type: object
                  properties:
                    title:
                      type: string
                      description: This may be different from the Program title, to
                        allow broadcasters flexibility, for example to add prefixes
                      example: 'Movie: Die Hard'
                    images:
                      type: array
                      items:
                        $ref: '#/components/schemas/Image'
                    content_flags:
                      type: array
                      items:
                        $ref: '#/components/schemas/ContentFlag'
          relationships:
            allOf:
            - $ref: '#/components/schemas/Relationships'
            - type: object
              properties:
                channel:
                  required:
                  - data
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ChannelResourceIdentifier'
                program:
                  required:
                  - data
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ProgramResourceIdentifier'
                genres:
                  required:
                  - data
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/GenreResourceIdentifier'
                series:
                  required:
                  - data
                  type: object
                  properties:
                    data:
                      nullable: true
                      allOf:
                      - $ref: '#/components/schemas/SeriesResourceIdentifier'
              additionalProperties: false
    BroadcastSlotResourceIdentifier:
      allOf:
      - $ref: '#/components/schemas/ResourceIdentifier'
      - type: object
        properties:
          id:
            pattern: uuid
            type: string
            example: f50a8a6b-e96a-4eb7-8d87-a14c1a991b96
          type:
            pattern: ^BroadcastSlot$
            type: string
            example: BroadcastSlot
    ResourceIdentifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        type:
          $ref: '#/components/schemas/Type'
      discriminator:
        propertyName: type
    Id:
      type: string
      description: The id of the resource being referenced
      example: e022f021-11f5-4cd6-89f2-02535d89eed6
    Type:
      type: string
      description: Used to describe resource objects that share common attributes
        and relationships.
      example: ResourceOject
    Attributes:
      type: object
      additionalProperties: true
      description: An attributes object representing some of the resource’s data.
    Image:
      required:
      - alternate_access_description
      - height_pixels
      - image_type
      - iso3_language
      - url
      - width_pixels
      type: object
      properties:
        image_type:
          type: string
          description: This is part of the PK and forms an identifying relationship
            with the ImageType sub-table
          nullable: true
          example: Thumbnail
        alternate_access_description:
          type: string
          nullable: true
          example: Bruce Willis shooting a big gun at some bad guys, pew pew pew
        width_pixels:
          type: integer
          nullable: true
          example: 320
        height_pixels:
          type: integer
          nullable: true
          example: 200
        iso_639-2_lang:
          type: string
          nullable: true
          example: fin
        url:
          type: string
          example: https://www.demo.com/assets/img/thumbnails/movies/diehard.png
    ContentFlag:
      required:
      - content_rating_flag
      - country_code_iso_alpha2
      type: object
      properties:
        content_rating_authority:
          type: string
          description: This can be either a rating system (like PEGI) or some national
            authority (in which case the ISO2 country code is used)
          example: fi
        content_rating_flag:
          type: string
          description: The freeform text value of the flag
          example: "13"
        pictogram_url:
          type: string
          description: The full url to a pictagram that can be used to represent this
            content flag
          example: https://cdn.pixabay.com/photo/2017/06/13/15/35/18-2399207_960_720.png
        is_adult_rated:
          type: boolean
          description: Different countries use different flags, the middleware must
            compute whether the flag being used is adult or not to standardize this
            for clients
          example: false
    Relationships:
      type: object
      additionalProperties:
        required:
        - data
        type: object
        properties:
          data:
            oneOf:
            - $ref: '#/components/schemas/ResourceIdentifier'
            - type: array
              items:
                $ref: '#/components/schemas/ResourceIdentifier'
      description: A relationships object describing relationships between the resource
        and other JSON:API resources.
    ChannelResourceIdentifier:
      allOf:
      - $ref: '#/components/schemas/ResourceIdentifier'
      - type: object
        properties:
          id:
            type: string
            example: "42"
          type:
            pattern: ^Channel$
            type: string
            example: Channel
    ProgramResourceIdentifier:
      allOf:
      - $ref: '#/components/schemas/ResourceIdentifier'
      - type: object
        properties:
          id:
            pattern: uuid
            type: string
            example: 530a08c0-3fd7-4d0d-b799-712ed9c07573
          type:
            pattern: ^Program$
            type: string
            example: Program
    GenreResourceIdentifier:
      allOf:
      - $ref: '#/components/schemas/ResourceIdentifier'
      - type: object
        properties:
          id:
            pattern: uuid
            type: string
            example: 6dfc6d52-6c6c-4274-a037-a9331280aa41
          type:
            pattern: ^Genre$
            type: string
            example: Genre
    SeriesResourceIdentifier:
      allOf:
      - $ref: '#/components/schemas/ResourceIdentifier'
      - type: object
        properties:
          id:
            pattern: uuid
            type: string
            example: abdf8785-cb23-445b-946f-69e8770500a1
          type:
            pattern: ^Series$
            type: string
            example: Series
    SeriesResource:
      allOf:
      - $ref: '#/components/schemas/SeriesResourceIdentifier'
      - required:
        - attributes
        type: object
        properties:
          attributes:
            $ref: '#/components/schemas/SeriesResource_attributes'
    Error:
      required:
      - code
      - details
      - id
      - status
      - title
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for this particular occurrence of the problem.
        status:
          type: string
          description: The HTTP status code applicable to this problem, expressed
            as a string value.
        code:
          type: string
          description: An application-specific error code, expressed as a string value.
        title:
          type: string
          description: A short, human-readable summary of the problem that SHOULD
            NOT change from occurrence to occurrence of the problem.
        details:
          type: string
          description: A human-readable explanation specific to this occurrence of
            the problem.
      example:
        id: 6de7da3e-8877-4f2b-a670-16e18e5d79a0
        status: "400"
        code: "31201"
        title: Bad Request
        detail: Parameter 'Foo' is invalid
    inline_response_200:
      required:
      - data
      - included
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BroadcastSlotResource'
        included:
          type: array
          items:
            $ref: '#/components/schemas/SeriesResource'
    inline_response_400:
      required:
      - errors
      type: object
      properties:
        errors:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Error'
            - example:
                status: "400"
                code: "10100"
                title: Bad Request
                detail: language must be a 3 character ISO 639-2 string
    inline_response_403:
      required:
      - errors
      type: object
      properties:
        errors:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Error'
            - example:
                status: "403"
                code: NNNNN
                title: Forbidden
                detail: Catchup is not available for the requested channel
    inline_response_404:
      required:
      - errors
      type: object
      properties:
        errors:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Error'
            - example:
                status: "404"
                code: NNNNN
                title: Not Found
                detail: The requested channel does not exist
    SeriesResource_attributes_descriptions:
      type: object
      properties:
        short:
          type: string
          description: The short description of the program
          example: Follows the personal and professional lives of six 20 to 30-something-year-old
            friends living in Manhattan.
        long:
          type: string
          example: Rachel Green, Ross Geller, Monica Geller, Joey Tribbiani, Chandler
            Bing and Phoebe Buffay are six 20 something year-olds, living off of one
            another in the heart of New York City. Over the course of ten years, this
            average group of buddies goes through massive mayhem, family trouble,
            past and future romances, fights, laughs, tears and surprises as they
            learn what it really means to be a friend.
        extended:
          type: string
    SeriesResource_attributes:
      required:
      - title
      - year_released
      type: object
      properties:
        title:
          type: string
          example: Friends
        descriptions:
          $ref: '#/components/schemas/SeriesResource_attributes_descriptions'
        release_year:
          type: integer
          example: 1993
        content_flags:
          type: array
          items:
            $ref: '#/components/schemas/ContentFlag'
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
